Source: safeheap
Priority: extra
Maintainer: Ravi Sankar Guntur <ravi.g@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Section: libs

Package: safeheap
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: safeheap is a debug utility for dynamically allocated buffer overrun. 
